@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --soft-blue: 231 69% 60%;
    --soft-red: 0 94% 66%;
    --grayish-blue: 229 8% 60%;
    --very-dark-blue: 229 31% 21%;
  }
  body {
    font-size: 18px;
    font-family: "Rubik", sans-serif;
  }
}
